In [1]:
# Importing Hollywoods Film Profits dataset
import pandas as pd
df = pd.read_csv (r'C:\Users\Tom\Downloads\New TableauPython Proj\HollywoodsMostProfitableStories.csv')

In [2]:
# Basic information of our table. How many films do we have recorded, how are they categorized?
rowCol = df.shape
print(rowCol)

colIndex = df.columns
print(colIndex)

(74, 8)
Index(['Film', 'Genre', 'Lead Studio', 'Audience  score %', 'Profitability',
       'Rotten Tomatoes %', 'Worldwide Gross', 'Year'],
      dtype='object')

In [3]:
# Ordering the table in ascending or descending order of Rotten Tomatoes ratings
rotten_tomato_sort = df.sort_values(by=['Rotten Tomatoes %'],
    ascending=[False])
rotten_tomato_sort

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
67,WALL-E,Animation,Disney,89.0,2.896019,96.0,521.283432,2008
31,Midnight in Paris,Romance,Sony,84.0,8.744706,93.0,148.660000,2011
7,Enchanted,Comedy,Disney,80.0,4.005737,93.0,340.487652,2007
21,Knocked Up,Comedy,Universal,83.0,6.636402,91.0,219.001261,2007
51,Tangled,Animation,Disney,88.0,1.365692,89.0,355.080000,2010
...,...,...,...,...,...,...,...,...
24,License to Wed,Comedy,Warner Bros.,55.0,1.980206,8.0,69.307224,2007
36,New Year's Eve,Romance,Warner Bros.,48.0,2.536429,8.0,142.040000,2011
65,Waiting For Forever,Romance,Independent,53.0,0.005000,6.0,0.025000,2011
13,Good Luck Chuck,Comedy,Lionsgate,61.0,2.367685,3.0,59.192128,2007
50,Something Borrowed,Romance,Independent,NaN,1.719514,NaN,60.183000,2011

In [4]:
# Looking at highest scored films
rotten_tomato_sort.head(10)

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
67,WALL-E,Animation,Disney,89.0,2.896019,96.0,521.283432,2008
31,Midnight in Paris,Romance,Sony,84.0,8.744706,93.0,148.660000,2011
7,Enchanted,Comedy,Disney,80.0,4.005737,93.0,340.487652,2007
21,Knocked Up,Comedy,Universal,83.0,6.636402,91.0,219.001261,2007
51,Tangled,Animation,Disney,88.0,1.365692,89.0,355.080000,2010
3,A Serious Man,Drama,Universal,64.0,4.382857,89.0,30.680000,2009
66,Waitress,Romance,Independent,67.0,11.089742,89.0,22.179483,2007
1,(500) Days of Summer,Comedy,Fox,81.0,8.096000,87.0,60.720000,2009
45,Rachel Getting Married,Drama,Independent,61.0,1.384167,85.0,16.610000,2008
18,Jane Eyre,Romance,Universal,77.0,NaN,85.0,30.147000,2011

In [5]:
# Looking at lowest scored films
rotten_tomato_sort.tail(10)

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
70,When in Rome,Comedy,Disney,44.0,NaN,15.0,43.040000,2010
41,Our Family Wedding,Comedy,Independent,49.0,NaN,14.0,21.370000,2010
60,The Ugly Truth,Comedy,Independent,68.0,5.402632,14.0,205.300000,2009
28,Made of Honor,Comedy,Sony,61.0,2.649068,13.0,105.962734,2008
20,Killers,Action,Lionsgate,45.0,1.245333,11.0,93.400000,2010
24,License to Wed,Comedy,Warner Bros.,55.0,1.980206,8.0,69.307224,2007
36,New Year's Eve,Romance,Warner Bros.,48.0,2.536429,8.0,142.040000,2011
65,Waiting For Forever,Romance,Independent,53.0,0.005000,6.0,0.025000,2011
13,Good Luck Chuck,Comedy,Lionsgate,61.0,2.367685,3.0,59.192128,2007
50,Something Borrowed,Romance,Independent,NaN,1.719514,NaN,60.183000,2011

In [6]:
# How was Hollywood's performance for each year?
yearTable = df.groupby(by=['Year']).mean()
yearTable

      Audience  score %  Profitability  Rotten Tomatoes %  Worldwide Gross
Year
2007          66.727273       4.058520          48.818182       119.523219
2008          69.789474       8.136442          53.789474       186.272113
2009          62.750000       5.023312          44.250000       167.282500
2010          55.684211       2.227516          37.473684        89.894684
2011          67.583333       3.272555          54.583333       116.979377

In [7]:
# How did each studio do per year?
studioYear = df.groupby(by=['Lead Studio','Year']).mean()
studioYear

                            Audience  score %  Profitability  \
Lead Studio           Year
20th Century Fox      2011          61.000000       2.532311
CBS                   2010          47.000000       2.202571
Disney                2007          80.000000       4.005737
                      2008          82.500000      12.904578
                      2009          74.000000       7.867500
                      2010          66.000000       1.365692
                      2011          52.000000       5.387972
Fox                   2008          73.333333       5.119350
                      2009          81.000000       8.096000
                      2010          56.500000       1.807542
Independent           2007          70.000000       5.142413
                      2008          60.666667      22.857021
                      2009          67.000000       3.771316
                      2010          50.750000       1.694115
                      2011          68.800000       2.785189
Lionsgate             2007          61.000000       2.367685
                      2010          45.000000       1.245333
New Line              2008          47.000000       2.071000
Paramount             2007          41.000000       2.129444
                      2008          68.000000       3.207850
                      2009          65.000000       2.598205
                      2010          60.000000       2.440500
Sony                  2008          64.000000       3.000899
                      2010          66.000000       4.598800
                      2011          84.000000       8.744706
Summit                2008          78.000000       5.781413
                      2009          78.000000      14.196400
                      2010          66.000000       3.065292
The Weinstein Company 2008          70.000000       1.747542
                      2010          52.000000       1.090000
                      2011          84.000000       0.825800
Universal             2007          83.000000       6.636402
                      2008          76.000000       9.234454
                      2009          55.666667       3.009885
                      2010          49.000000       1.715263
                      2011          77.000000            NaN
Warner Bros.          2007          62.500000       2.813808
                      2008          71.333333       3.676222
                      2009          51.333333       3.649784
                      2010          53.000000       2.793867
                      2011          48.000000       2.536429

                            Rotten Tomatoes %  Worldwide Gross
Lead Studio           Year
20th Century Fox      2011          49.000000        78.379000
CBS                   2010          20.000000        77.090000
Disney                2007          93.000000       340.487652
                      2008          80.500000       386.663966
                      2009          43.000000       314.700000
                      2010          52.000000       199.060000
                      2011          56.000000       193.967000
Fox                   2008          43.666667       195.249767
                      2009          87.000000        60.720000
                      2010          46.500000        38.049500
Independent           2007          52.500000        65.125754
                      2008          67.666667        21.750231
                      2009          24.000000       108.000000
                      2010          39.000000        41.072500
                      2011          46.400000       140.150316
Lionsgate             2007           3.000000        59.192128
                      2010          11.000000        93.400000
New Line              2008          15.000000        20.710000
Paramount             2007          30.000000       127.766650
                      2008          60.000000        43.305978
                      2009          38.000000       101.330000
                      2010          57.000000        48.810000
Sony                  2008          43.000000        69.745013
                      2010          29.000000       114.970000
                      2011          93.000000       148.660000
Summit                2008          50.500000       198.701498
                      2009          27.000000       709.820000
                      2010          34.000000        67.520000
The Weinstein Company 2008          64.000000        41.941000
                      2010          68.000000        19.620000
                      2011          83.000000         8.258000
Universal             2007          91.000000       219.001261
                      2008          53.000000       609.473955
                      2009          54.333333        97.120000
                      2010          21.000000        32.590000
                      2011          85.000000        30.147000
Warner Bros.          2007          35.500000       107.601823
                      2008          49.333333       287.506086
                      2009          41.666667       104.486667
                      2010          28.333333       182.656667
                      2011           8.000000       142.040000

In [8]:
# What about the performance of each genre per year?
genreYear = df.groupby(by=['Genre','Year']).mean()
genreYear

                Audience  score %  Profitability  Rotten Tomatoes %  \
Genre     Year
Action    2010          45.000000       1.245333          11.000000
Animation 2008          89.000000       2.896019          96.000000
          2010          88.000000       1.365692          89.000000
          2011          52.000000       5.387972          56.000000
Comedy    2007          64.000000       3.404442          44.000000
          2008          68.666667       5.538238          46.250000
          2009          62.857143       4.993977          46.428571
          2010          52.600000       2.089746          37.000000
          2011          80.000000       4.471875          84.000000
Drama     2008          60.000000      23.842006          61.666667
          2009          62.600000       5.064381          41.200000
          2010          68.000000       4.045025          28.500000
          2011          81.666667       1.451955          74.000000
Fantasy   2008          81.000000       1.783944          73.000000
Romance   2007          70.000000       4.843413          54.600000
          2008          76.000000       5.963784          56.500000
          2011          62.000000       3.579278          41.857143

                Worldwide Gross
Genre     Year
Action    2010        93.400000
Animation 2008       521.283432
          2010       355.080000
          2011       193.967000
Comedy    2007       151.392661
          2008       185.039228
          2009       159.825714
          2010        72.579267
          2011        14.310000
Drama     2008        31.127659
          2009       177.722000
          2010        85.415000
          2011        44.774965
Fantasy   2008       285.431000
Romance   2007        81.279888
          2008       209.301000
          2011       147.266250

In [9]:
# Extra insights
studioGenreYear = df.groupby(by=['Lead Studio','Genre','Year']).mean()
studioGenreYear

                                      Audience  score %  Profitability  \
Lead Studio           Genre     Year
20th Century Fox      Drama     2011          72.000000       3.081421
                      Romance   2011          50.000000       1.983200
CBS                   Comedy    2010          47.000000       2.202571
Disney                Animation 2008          89.000000       2.896019
                                2010          88.000000       1.365692
                                2011          52.000000       5.387972
                      Comedy    2007          80.000000       4.005737
                                2008          76.000000      22.913136
                                2009          74.000000       7.867500
                                2010          44.000000            NaN
Fox                   Comedy    2008          73.333333       5.119350
                                2009          81.000000       8.096000
                                2010          56.500000       1.807542
Independent           Comedy    2008          70.000000       0.252895
                                2009          68.000000       5.402632
                                2010          50.750000       1.694115
                                2011          80.000000       4.471875
                      Drama     2008          56.000000      34.159083
                                2009          66.000000       2.140000
                                2011          89.000000       0.448645
                      Romance   2007          70.000000       5.142413
                                2011          58.333333       2.947653
Lionsgate             Action    2010          45.000000       1.245333
                      Comedy    2007          61.000000       2.367685
New Line              Comedy    2008          47.000000       2.071000
Paramount             Comedy    2007          41.000000       2.129444
                                2010          60.000000       2.440500
                      Drama     2008          68.000000       3.207850
                                2009          65.000000       2.598205
Sony                  Comedy    2008          64.000000       3.000899
                      Drama     2010          66.000000       4.598800
                      Romance   2011          84.000000       8.744706
Summit                Comedy    2008          74.000000       1.382800
                                2010          62.000000       2.639333
                      Drama     2009          78.000000      14.196400
                                2010          70.000000       3.491250
                      Romance   2008          82.000000      10.180027
The Weinstein Company Comedy    2010          52.000000       1.090000
                      Drama     2011          84.000000       0.825800
                      Romance   2008          70.000000       1.747542
Universal             Comedy    2007          83.000000       6.636402
                                2008          76.000000       9.234454
                                2009          63.000000       2.642353
                                2010          49.000000       1.715263
                      Drama     2009          52.000000       3.193651
                      Romance   2011          77.000000            NaN
Warner Bros.          Comedy    2007          55.000000       1.980206
                                2008          66.500000       4.622360
                                2009          51.333333       3.649784
                                2010          53.000000       2.793867
                      Fantasy   2008          81.000000       1.783944
                      Romance   2007          70.000000       3.647411
                                2011          48.000000       2.536429

                                      Rotten Tomatoes %  Worldwide Gross
Lead Studio           Genre     Year
20th Century Fox      Drama     2011          60.000000       117.094000
                      Romance   2011          38.000000        39.664000
CBS                   Comedy    2010          20.000000        77.090000
Disney                Animation 2008          96.000000       521.283432
                                2010          89.000000       355.080000
                                2011          56.000000       193.967000
                      Comedy    2007          93.000000       340.487652
                                2008          65.000000       252.044501
                                2009          43.000000       314.700000
                                2010          15.000000        43.040000
Fox                   Comedy    2008          43.666667       195.249767
                                2009          87.000000        60.720000
                                2010          46.500000        38.049500
Independent           Comedy    2008          78.000000        15.173694
                                2009          14.000000       205.300000
                                2010          39.000000        41.072500
                                2011          84.000000        14.310000
                      Drama     2008          62.500000        25.038500
                                2009          34.000000        10.700000
                                2011          79.000000         8.972895
                      Romance   2007          52.500000        65.125754
                                2011          23.000000       204.404750
Lionsgate             Action    2010          11.000000        93.400000
                      Comedy    2007           3.000000        59.192128
New Line              Comedy    2008          15.000000        20.710000
Paramount             Comedy    2007          30.000000       127.766650
                                2010          57.000000        48.810000
                      Drama     2008          60.000000        43.305978
                                2009          38.000000       101.330000
Sony                  Comedy    2008          43.000000        69.745013
                      Drama     2010          29.000000       114.970000
                      Romance   2011          93.000000       148.660000
Summit                Comedy    2008          52.000000        20.741996
                                2010          40.000000        79.180000
                      Drama     2009          27.000000       709.820000
                                2010          28.000000        55.860000
                      Romance   2008          49.000000       376.661000
The Weinstein Company Comedy    2010          68.000000        19.620000
                      Drama     2011          83.000000         8.258000
                      Romance   2008          64.000000        41.941000
Universal             Comedy    2007          91.000000       219.001261
                                2008          53.000000       609.473955
                                2009          56.000000       224.600000
                                2010          21.000000        32.590000
                      Drama     2009          53.500000        33.380000
                      Romance   2011          85.000000        30.147000
Warner Bros.          Comedy    2007           8.000000        69.307224
                                2008          37.500000       288.543629
                                2009          41.666667       104.486667
                                2010          28.333333       182.656667
                      Fantasy   2008          73.000000       285.431000
                      Romance   2007          63.000000       145.896422
                                2011           8.000000       142.040000

In [10]:
# Each studio's best grossed films
bestFilm = df.groupby(by=['Lead Studio']).max()
bestFilm

,Film,Genre,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
Lead Studio,,,,,,,
20th Century Fox,Water For Elephants,Romance,72.0,3.081421,60.0,117.094000,2011
CBS,The Back-up Plan,Comedy,47.0,2.202571,20.0,77.090000,2010
Disney,When in Rome,Comedy,89.0,22.913136,96.0,521.283432,2011
Fox,What Happens in Vegas,Comedy,81.0,8.096000,87.0,219.367646,2010
Independent,You Will Meet a Tall Dark Stranger,Romance,89.0,66.934000,89.0,702.170000,2011
Lionsgate,Killers,Comedy,61.0,2.367685,11.0,93.400000,2010
New Line,Over Her Dead Body,Comedy,47.0,2.071000,15.0,20.710000,2008
Paramount,The Time Traveler's Wife,Drama,68.0,3.207850,60.0,127.766650,2010
Sony,Nick and Norah's Infinite Playlist,Romance,84.0,8.744706,93.0,148.660000,2011
Summit,Twilight,Romance,82.0,14.196400,52.0,709.820000,2010
The Weinstein Company,Zack and Miri Make a Porno,Romance,84.0,1.747542,83.0,41.941000,2011
Universal,Mamma Mia!,Romance,83.0,9.234454,91.0,609.473955,2011
Warner Bros.,Valentine's Day,Romance,81.0,7.221796,73.0,415.253258,2011

In [11]:
# Each studio's worst grossed films
worstFilm = df.groupby(by=['Lead Studio']).min()
worstFilm

,Film,Genre,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
Lead Studio,,,,,,,
20th Century Fox,Monte Carlo,Drama,50.0,1.983200,38.0,39.664000,2011
CBS,The Back-up Plan,Comedy,47.0,2.202571,20.0,77.090000,2010
Disney,Enchanted,Animation,44.0,1.365692,15.0,43.040000,2007
Fox,(500) Days of Summer,Comedy,55.0,1.797417,28.0,21.569000,2008
Independent,A Dangerous Method,Comedy,35.0,0.005000,6.0,0.025000,2007
Lionsgate,Good Luck Chuck,Action,45.0,1.245333,3.0,59.192128,2007
New Line,Over Her Dead Body,Comedy,47.0,2.071000,15.0,20.710000,2008
Paramount,She's Out of My League,Comedy,41.0,2.129444,30.0,43.305978,2007
Sony,Dear John,Comedy,61.0,2.649068,13.0,33.527293,2008
Summit,Letters to Juliet,Comedy,62.0,1.382800,27.0,20.741996,2008
The Weinstein Company,My Week with Marilyn,Comedy,52.0,0.825800,64.0,8.258000,2008
Universal,A Serious Man,Comedy,40.0,1.715263,18.0,30.147000,2007
Warner Bros.,Four Christmases,Comedy,47.0,1.314062,8.0,32.400000,2007